html {
	font-family: 'Fontin Sans', verdana, sans-serif;
	font-size: 62.5%;
}
body {
	display: block;
	background-color: #e5e4d7;
	height: 100%;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-bottom: 1px;
	color: #222;
}
header {
	display: block;
	width: 100%;
	height: 200px;
	background-image: url('../images/header-background.png');
	background-repeat: repeat-x;
	text-align: center;
}
header h1 {margin: 0;}
header img {
	display: block;
	margin: 0 auto;
}

nav {
    display: block;
    margin: 10px auto;
}
nav ul {text-align: center;}
nav ul li {display: inline-block;}
nav ul li a {
    display: block;
    background-color: #2C6700;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    font-family: 'Fontin Sans Small Caps', gorgia, serif;
    font-size: 1.2em;
    font-weight: normal;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
nva ul li a:visited {color: #fff;}
nav ul li.current a, nav ul li a:hover {color: #FFCF79;}

div#mainbody {
	display: block;
	margin: 0 10% 20px 10%;
    padding: 20px 20px 1px 20px;
	background-color: #fff;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
section {
	display: block;
}
article {
    border-top: 3px solid #ddd;
    padding: 15px 10px;
}
aside {
    float: right;
}

h1, h2, h3 {
	font-family: 'Fontin', gorgia, serif;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0 0 0.5em 0;
	color: #222;
}

h1 {font-size:2.2em;}
h2, section h1, article h1, aside h1 {font-size:1.8em;}
h3,
section h2, article h2, aside h2,
section section h1, section article h1, section aside h1,
article section h1, article article h1, article aside h1,
aside section h1, aside article h1, aside aside h1
{font-size:1.4em;}

a {
    color: #92CD00;
    font-weight: bold;
    text-decoration: none;
}
a:hover {color: #2C6700;}
a:visited {font-weight: normal;}

p {
    -webkit-border-image: fiddlesticks;
    margin: 0 0 15px 0;
}

ul, ol {margin: 0 0 1em 2em;}
ul {list-style-type: circle;}
ol {list-style-type: lower-latin;}

big {font-size: 1.5em;}
small {font-size: 0.8em;}
em {font-style: italic;}
strong {font-weight: bold;}
